body
	{
		background: url(https://cdn.hipwallpaper.com/i/8/66/i4Ek1A.jpg);
	}

.Title
	{
		font-family: Julius Sans One;
		color: white;
		text-align: center;
	}

.instructions
	{
		color: white;
		text-align: center;
		font-family: Teko;
	}

button
	{
		font-size: 40px;
		border-radius: 10px;
		font-family: Bungee;
		background-color: black;
		color: blue;
		margin: 50px;
	}

button:hover
	{
		background: darkgreen;
		color: red;
	}